<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AR</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap" />
        <link rel="stylesheet" href="/static/css/ar.css" />
    </head>
    <body>
        <div class="main-container">
            <div class="pic"></div>
            <span class="text">with Agumented Reality</span>
            <div class="img">
                <div class="pic-2"><div class="img-2"></div></div>
                <span class="text-2">Information Overlays</span
                ><span class="text-3"
                    >providing real-time spoken directions, historical facts, and
                    location-based insights.</span
                >
            </div>
            <div class="section">
                <div class="wrapper">
                    <div class="img-3"></div>
                    <span class="text-4"><a href="{{ url_for('home') }}">Home</span><span class="text-5">Home</a></span
                    ><span class="text-6"><a href="{{ url_for('tour') }}">Tours Packages</span
                    ><span class="text-7">Tours Packages</a></span
                    ><span class="text-8"><a href="{{ url_for('hotel') }}">Hotels</span></a><span class="text-9"><a href="{{ url_for('ar') }}"></a>Guide</a></span
                    ><span class="text-a"></span>
                    <div class="box">
                        <span class="text-b">About</span><span class="text-c"> </span
                        ><span class="text-d">us</span>
                    </div>
                    <div class="section-2">
                        <span class="text-e">About</span><span class="text-f"> </span
                        ><span class="text-10">us</span>
                    </div>
                    <span class="text-11"><a href="{{url_for('sos')}}">S</a></span><span class="text-12"></span>
                </div>
                <div class="pic-3"></div>
                <div class="box-2">
                    <div class="pic-4"></div>
                    <div class="img-4"></div>
                    <div class="img-5"></div>
                    <div class="wrapper-2"><span class="text-13">Hey Buddy! </span></div>
                    <span class="text-14">You can explore your adventure </span
                    ><span class="text-15"
                        >Offering real-time navigation, instant translations, interactive
                        local insights, and smart recommendations. Simply point your camera
                        to discover landmarks, hidden gems, and essential travel information
                        effortlessly!</span
                    >
                    <div class="group">
                        <div class="group-2">
                            <span class="text-16"><a href ="https://mywebar.com/p/Project_2_yefbop256b">Click to start</aa></span>
                        </div>
                    </div>
                </div>
                <span class="text-17">Features in Agumented </span>
                <div class="wrapper-3">
                    <div class="img-6"><div class="img-7"></div></div>
                    <div class="img-8"><div class="img-9"></div></div>
                </div>
                <div class="box-3">
                    <div class="img-a"></div>
                    <div class="img-b"></div>
                    <span class="text-18"
                        >Providing real-time spoken directions, historical facts, and
                        location-based insights.</span
                    ><span class="text-19"
                        >Now featuring sign language integration for seamless
                        communication</span
                    >
                </div>
                <div class="box-4">
                    <span class="text-1a">Sign Language</span
                    ><span class="text-1b">Audio Guidance</span>
                </div>
            </div>
        </div>
        <!-- Generated by Codia AI - https://codia.ai/ -->
    </body>
</html>
