<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coimbatore Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&display=swap" />
    <link rel="stylesheet" href="/static/css/coimbatore.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-fb">
        <div class="whatsapp-image"></div>
        <div class="ellipse"></div>
        <span class="home">Home</span><span class="home-1">Home</span
        ><span class="tours-packages">Tours Packages</span
        ><span class="tours-packages-2">Tours Packages</span
        ><span class="hotels">Hotels</span><span class="guide">Guide</span
        ><span class="help"></span>
        <div class="contact-us">
          <span class="us">About</span><span class="nbsp"> </span
          ><span class="us-3">us</span>
        </div>
        <div class="contact-us-4">
          <span class="about">About</span><span class="nbsp-5"> </span
          ><span class="about-6">us</span>
        </div>
        <span class="s">S</span><span class="lt"><</span>
      </div>
      <div class="flex-row-ca">
        <div class="depth-frame"><div class="depth-frame-7"></div></div>
        <div class="ellipse-8">
          <div class="licensed-image"><div class="licensed-image-9"></div></div>
          <span class="hotel-park-elanza-coimbatore"
            >Hotel Park Elanza Coimbatore</span
          >
          <div class="flex-row-ceda">
            <div class="rectangle">
              <div class="rectangle-a">
                <div class="star"></div>
                <div class="flex-column">
                  <span class="span">4.5</span><span class="span-b">4</span>
                </div>
              </div>
            </div>
            <div class="rectangle-c">
              <div class="rectangle-d">
                <div class="star-e"></div>
                <div class="flex-column-d">
                  <span class="span-f">4.4</span><span class="span-10">4</span>
                </div>
              </div>
            </div>
            <div class="rectangle-11"><div class="rectangle-12"></div></div>
            <span class="k-reviews">(4.1k Reviews)</span
            ><span class="top-popular-hotels">(</span>
          </div>
        </div>
        <span class="see-more">Top popular Hotels in Coimbatore</span
        ><span class="licensed-image-13">See more...</span>
        <div class="images"></div>
        <div class="zone-connect-coimbatore"></div>
        <span class="le-meridien-coimbatore">Zone Connect Coimbatore</span
        ><span class="rectangle-14">Le Méridien Coimbatore</span>
        <div class="rectangle-15">
          <div class="star-16">
            <div class="pic-6"></div>
            <span class="text-1b">4.4</span><span class="text-1c">4</span>
          </div>
        </div>
        <div class="rectangle-17"><div class="rectangle-18"></div></div>
        <div class="rectangle-19"><div class="rectangle-1a"></div></div>
        <span class="k-reviews-1b">(3.3k Reviews)</span
        ><span class="k-reviews-1c">(1.1k Reviews)</span>
        <div class="rectangle-1d"></div>
        <div class="rectangle-1e"></div>
        <div class="rectangle-1f"><div class="rectangle-20"></div></div>
      </div>
      <div class="line"></div>
    </div>
    <!-- Generated by Codia AI - https://codia.ai/ -->
  </body>
</html>
