<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GUIDY</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lilita+One:wght@400&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/dashboard.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-e">
        <div class="group"><div class="group-1"></div></div>
        <div class="rectangle"><span class="sign-up"><a href="{{ url_for('signup') }}">Sign up</a></span></div>
        <span class="home">Home</span><span class="home-2">Home</span
        ><span class="tours-packages">Tours Packages</span
        ><span class="tours-packages-3" href="tour.html">Tours Packages</span
        ><span class="hotels">Hotels</span><span class="hotels-4">Hotels</span
        ><span class="cabs">Guide</span><span class="cabs-5">Guide</span>
        <div class="contact-us">
          <span class="about">About</span><span class="nbsp"> </span
          ><span class="about-6">us</span>
        </div>
        <div class="contact-us-7">
          <span class="about-8">About</span><span class="nbsp-9"> </span
          ><span class="about-a">us</span>
        </div>
        <span class="login"><a href="{{ url_for('login') }}">Login</a></span>
        <div class="line"></div>
      </div>
      <div class="flex-row-fd">
        <div class="boy"></div>
        <div class="group-b">
          <div class="flex-row">
            <button class="rectangle-c">
              <span class="san-francisco-america">Coimbatore,Tamilnadu</span>
            </button>
            <div class="rectangle-d">
              <span class="explore-now">Explore the world </span>
              <div class="pic-4"></div>
            </div>
          </div>
          <div class="wrapper-2">
            <div class="pic-5"></div>
            <div class="img-4"></div>
          </div>
          <div class="wrapper-3">
            <div class="img-5"></div>
            <span class="text-13"
              >Planning your dream vacation has never been easier! GUIDY is your
              ultimate travel companion, designed to help you explore the world
              with ease.<br
            /></span>
            <div class="img-6"></div>
            <div class="wrapper-4">
              <span class="text-14">Customize With Mikey AI </span>
            </div>
          </div>
          <div class="section-2">
            <span class="text-15">Innovative tours</span>
            <div class="pic-6"></div>
          </div>
          <span class="text-16">Explore with AI and AR technology</span>
          <div class="wrapper-5">
            <div class="img-7"></div>
            <div class="pic-7"></div>
          </div>
          <div class="group-3">
            <span class="text-17">Custom Tours ></span
            ><span class="text-18">AR hotel booking ></span>
          </div>
          <div class="wrapper-6">
            <span class="text-19"
              >Experience tailor-made tour designed just for you.</span
            ><span class="text-1a">Book hotels effortlessly using AR.</span>
          </div>
          <div class="wrapper-7">
            <div class="wrapper-8"></div>
            <div class="section-3"></div>
            <div class="pic-8"><div class="pic-9"></div></div>
            <div class="img-8"><div class="pic-a"></div></div>
          </div>
          <span class="text-1b">WHAT WE SERVE</span>
          <div class="section-4">
            <div class="rectangle-e">
              <div class="images-removebg-preview"></div>
            </div>
            <div class="rectangle-f"><div class="download"></div></div>
            <div class="rectangle-10">
              <div class="images-removebg-preview-11"></div>
            </div>
            <span class="what-will-you-get"
              >What will<br />
              you get?
            </span>
            <div class="images"></div>
            <span class="tour-customization">Tour customization</span
            ><span class="best-tour-guides">Best Tour guides</span>
          </div>
          <div class="flex-row-12">
            <div class="line-13"></div>
            <div class="line-14"></div>
            <span class="ai-voice-assistance-ar-views"
              >AI Voice Assistance and AR Views be your personal tour
              guides</span
            ><span class="try-variety-benefits"
              >Try a variety of benifits<br />
              when using our services</span
            ><span class="build-trip-ai">Build a trip in minutes with AI</span>
          </div>
        </div>
        <div class="ellipse"></div>
        <span class="journey-best-memories"
          >Journey to Create the Best Memories <br />
          <br /><br
        /></span>
        <div class="across-the-globe">
          <span class="explore-globe"> Across the Globe </span
          ><span class="explore">Explore</span
          ><span class="explore-globe-15">, </span
          ><span class="explore-16">Discover</span
          ><span class="cherish-moment">, and</span>
        </div>
        <span class="cherish-moment-17">Cherish Every Moment!</span>
        <div class="screenshot"></div>
        <div class="ellipse-18"></div>
        <span class="easy-booking">Easy Booking</span
        ><span class="book-hotels-cabs"
          >Book hotels and cabs effortlessly through AR</span
        >
        <div class="ellipse-19">
          <div class="images-jpeg"></div>
          <span class="ai-voice-tour-guide">AI voice tour guide ></span
          ><span class="explore-assistant"
            >Explore with an intelligent voice assistant guiding you.</span
          >
          <div class="flex-row-cd">
            <div class="rectangle-1a"></div>
            <div class="rectangle-1b"><div class="rectangle-1c"></div></div>
            <div class="star"></div>
          </div>
        </div>
        <div class="google-search"></div>
        <div class="college-ppt"><div class="images-1d"></div></div>
        <div class="ellipse-1e"></div>
        <span class="get-started">Get Started Today!</span
        ><span class="affordable-tourism"
          >Affordable and Seamless tourism in world wide</span
        ><span class="seamless-experience"
          >Since our inception,we have prioritized the convennience of our
          tourists by<br />offering affordable prices and a seeamless
          experience<br
        /></span>
        <div class="download-1f"></div>
        <span class="customer-support">24/7 customer Support</span
        ><span class="payment-options">Flexible Payment Options</span
        ><span class="dedicated-support">
          24/7 Dedicated Customer<br />
          Support.Ensuring a Massive-Free <br />
          Travel Experience</span
        ><span class="secure-transactions"
          >Secure Transactions for Your Travel Needs</span
        >
      </div>
      <div class="flex-row-a">
        <div class="miui-gallery"></div>
        <span class="what-they-say">WHAT THEY SAY</span
        ><span class="customer-feedback"
          >What Our Customer <br />Say About us?</span
        ><span class="fantastic-trip"
          >Fantastic trip with Guidy! Flexible payment options and helpfull
          customer support made it hassie-free.<br />highly recommended!</span
        >
        <div class="download-20"></div>
        <span class="jesse-hamilton">Jesse Hamilton</span
        ><button class="rectangle-button">
          <span class="traveller">Traveller</span>
        </button>
        <div class="download-21"><div class="download-22"></div></div>
        <div class="rectangle-23">
          <span class="subscribe-info"
            >Subscribe To Get Information,Latest News and Other<br />
            Interesting Offers About Trip.</span
          ><span class="subscribe-info-24"
            >Subscribe To Get Information,Latest News and Other<br />
            Interesting Offers About Trip.</span
          >
          <div class="images-25"><div class="images-26"></div></div>
          <div class="rectangle-27">
            <button class="rectangle-28">
              <span class="subscribe">Subscribe</span>
            </button>
            <div class="reshot-icon-email">
              <div class="vector"></div>
              <div class="reshot-icon-email-29">
                <div class="vector-2a"></div>
              </div>
            </div>
            <span class="your-email">Your Email </span
            ><span class="your-email-2b">Your Email </span>
          </div>
        </div>
      </div>
      <div class="rectangle-2c">
        <div class="add-a-heading"></div>
        <span class="company">Company</span><span class="contact">Contact</span
        ><span class="more">More</span
        ><span class="airlinefees">Airlinefees</span
        ><span class="help-faq">Help/FAQ</span
        ><span class="about-2d">About</span>
        <div class="screenshot-2e"></div>
        <span class="careers">Careers</span><span class="press">Press</span
        ><span class="airline">Airline</span
        ><span class="low-fare-tips">Low fare tips</span
        ><span class="affilates">Affilates</span
        ><span class="mobile">Mobile</span>
      </div>
      <div class="dot-bg"></div>
      <div class="dot-bg-2f"></div>
      <div class="dot-bg-30"></div>
      <div class="dot-bg-31"></div>
      <div class="dot-bg-32"></div>
    </div>
  </body>
</html>
