<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guide</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700;800&display=swap" />
    <link rel="stylesheet" href="/static/css/guide.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-ce">
        <div class="whatsapp-image"></div>
        <button class="ellipse"></button><span class="home">Home</span
        ><span class="home-1"><a href="{{ url_for('dashboard') }}">Home</a></span
        ><span class="tours-packages"><a href="{{ url_for('tour') }}">Tours Packages</span
        ><span class="tours-packages-2">Tours Packages</a></span
        ><a href="{{ url_for('hotel') }}"><span class="hotels">Hotels</a></span><span class="guide-3">Guide</span
        ><span class="help"></span>
        <div class="contact-us">
          <span class="about">About</span><span class="nbsp"> </span
          ><span class="about-4">us</span>
        </div>
        <div class="contact-us-5">
          <span class="about-6">About</span><span class="nbsp-7"> </span
          ><span class="about-8">us</span>
        </div>
        <span class="s">S</span><span class="text-f"><</span>
      </div>
      <span class="text-10">Welcome to Travel Guide</span
      ><span class="text-11"
        >we can help you to find the right guide for your trip</span
      >
      <div class="section-2">
        <div class="section-3">
          <div class="img"></div>
          <span class="text-12">Ai</span
          ><span class="text-13">Get instant help from our AI assistant</span
          ><button class="Button-2">
            <div class="section-4">
              <span class="start-now">Start Now</span>
            </div>
          </button>
        </div>
        <span class="travel-guide">Travel Guide</span>
      </div>
      <div class="flex-row">

        <div class="rectangle">
          <div class="rectangle-a"></div>
          <div class="flex-column-b">
            <span class="human">Human</span>
            <span class="human-guide">Human Guide</span>
            <span class="book-private-guide">Book a private guide for a more personal experience</span
            ><button class="depth-frame">
              <div class="depth-frame-b">
                <span class="find-a-guide">Find a Guide</span>
              </div>
            </button>
          </div>
        </div>
        <div class="rectangle-c"></div>
        <div class="rectangle-d"></div>
        <div class="rectangle-e"><div class="rectangle-f"></div></div>
      </div>
      <div class="line"></div>
    </div>
  </body>
</html>
