<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tour packages</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patua+One:wght@400&display=swap" />
    <link rel="stylesheet" href="/static/css/tour.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-e">
        <div class="whatsapp-image"></div>
        <button class="ellipse"></button><span class="home"><a href="{{ url_for('dashboard') }}">Home</span
        ><span class="home-1">Home</a></span
        ><span class="tours-packages"><a href="{{ url_for('tour') }}">Tours Packages</span
        ><span class="tours-packages-2">Tours Packages</a></span
        ><span class="hotels"><a href="{{ url_for('hotel') }}">Hotels</span><span class="hotels-3">Hotels</a></span
        ><span class="help-guide"><a href="{{ url_for('ar') }}">Guide</a></span><span class="help"></span>
        <div class="contact-us">
          <span class="about">About</span><span class="empty"> </span
          ><span class="about-4">us</span>
        </div>
        <div class="contact-us-5">
          <span class="about-6">About</span><span class="empty-class"> </span
          ><span class="about-7">us</span>
        </div>
        <a href="{{ url_for('sos') }}"><span class="s">S</span><span class="less-than"></a></span>
      </div>
      <span class="create-new-tour">Create a New Tour With Mikey</span>
      <div class="flex-row-cc">
        <div class="licensed-image"></div>
        <span class="customizable-tour-packages"
          >CUSTOMIZABLE TOUR PACKAGES</span
        ><span class="adventure-begins"
          ><br /><h4>With Guidy, your adventure begins with our customizable tour packages that cater to your unique preferences. Harnessing the power
          of AI, we help you design an itinerary that aligns perfectly with your
          interests, whether you seek thrilling experiences or peaceful
          retreats. Our expert team collaborates with you to ensure every detail
          is covered, from must-see attractions to hidden gems. Explore at your
          own pace and enjoy a personalized journey that reflects your travel
          desires. Say goodbye to cookie-cutter tours and hello to a travel
          experience that is truly yours.</h4></span>
        <div class="screenshot"></div>
      </div>
      <div class="line"></div>
    </div>
    <script>window.$zoho=window.$zoho || {};$zoho.salesiq=$zoho.salesiq||{ready:function(){}}</script><script id="zsiqscript" src="https://landbot.online/v3/H-2807764-17BM4DDT54X0GEK4/index.html" defer></script>
  </body>
</html>
